# Force Dart as the main language
*.dart linguist-language=Dart

# Ignore native/platform-specific files
*.h linguist-detectable=false
*.cc linguist-detectable=false
*.cpp linguist-detectable=false
*.kt linguist-detectable=false
*.swift linguist-detectable=false
*.xml linguist-detectable=false
*.gradle linguist-detectable=false
*.cmake linguist-detectable=false
*.plist linguist-detectable=false
*.xib linguist-detectable=false
*.json linguist-detectable=false
*.html linguist-detectable=false
*.sh linguist-detectable=false

# Mark platform folders as vendor code
android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
linux/** linguist-vendored
